@import "_variables.scss";
@import "_mixins.scss";

.container {
    @include card;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.7rem;
    width: clamp(300px, 50%, 500px);

    button {
        width: 70%;

        @include tablet {
            width: 80%;
        }

        @include mobile {
            width: 100%;
        }
    }

    @include tablet {
        width: 75%;
        padding: 3rem;
    }

    @include mobile {
        width: 90%;
        padding: 2rem;
    }
}

.logoLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0rem;
    text-decoration: none;
    color: $white;
    font-size: 0.8rem;
}

.informationWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .informationLink {
        font-size: 0.8rem;
    }

    .imprintLink {
        font-size: 0.7rem;
        margin: 0;
    }
}