@import "_variables.scss";
@import "_mixins.scss";

.container {
    @include card;
    background-color: $grey-light;
    height: max-content;
    min-height: 500px;

    @include mobile {
        box-shadow: unset;
    }
}

.headerArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .expandLink {
        text-decoration: none;
        color: $black-light;
    }
}

.contentArea {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;

    .paragraphWrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        p {
            margin: 0;

            @include mobile {
                font-size: 0.85rem;
            }
        }
    }

    .configTable {
        width: 100%;
    }

    .tableHeaderWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

    }

    th {
        a {
            color: $black-light;
        }
    }

    .copyLinkWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        span {
            @include mobile {
                display: inline-block;
                max-width: 25ch;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .createButton {
        align-self: flex-end;
        width: max-content;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}