@import "_variables.scss";
@import "_mixins.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    //background-color: pink;

    @include mobile {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        padding: 1rem 0rem;
    }
}

.profile {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    //overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include mobile {
        order: 3;
    }
}

.config {
    @include mobile {
        order: 2;
    }
}

.signOut {
    @include mobile {
        order: 1;
    }
}