@import "_variables.scss";
@import "_mixins.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    //background-color: pink;
}

.profile {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    //overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}