@import "_variables.scss";
@import "_mixins.scss";

.projectInformationArea {
    @include card;
    background-color: $grey-dark;
    display: flex;
    flex-direction: column;
    width: 47%;
    justify-content: space-between;

    @media (max-width: 1320px) {
        width: 100%;
    }

    .topArea {
        display: flex;
        flex-direction: column;
    }

    .headArea {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1.2rem;
    }

    .titleArea {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1.2rem;

        .profile {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        @include mobile {
            gap: 1rem;

            .profile {
                width: 40px;
                height: 40px;
            }
        }
    }

    .propertyArea {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 1.25rem;
        gap: 0.75rem;

        .chipLink {
            text-decoration: none;
        }

        .chipColor {
            background-color: $grey-light;
        }
    }

    .teamArea {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;
    }

    .descriptionArea {
        min-height: 5rem;

        p {
            max-height: 6rem;
            overflow: hidden;
            word-wrap: break-word;
            text-overflow: ellipsis;
            -webkit-line-clamp: 4;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 4;
            box-orient: vertical;
        }

        .buttonWrapper {
            display: flex;
            align-items: flex-end;
            justify-content: end;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }
}