@import "_variables.scss";
@import "_mixins.scss";

.hoverContainer {
    &:hover {
        .container {
            box-shadow: 0px 4px 4px $blue-dark;
        }

        .textarea {
            color: $blue;

            h3 {
                color: $blue;
            }
        }
    }
}

.container {
    @include card;
    overflow: hidden;
    text-decoration: none;
    color: $black-light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 120px;
    padding: 2rem;
    border: none;
    transition: all 0.3s ease;

    @include mobile {
        padding: 1rem;
        max-height: 80px;
    }
}

.textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;

    @include mobile {
        gap: 0rem;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 2.3rem;
        letter-spacing: 0.7px;
        width: max-content;
        text-transform: uppercase;
        transition: all 0.3s ease;

        @include mobile {
            font-size: 1rem;
            line-height: 1.8rem;
            letter-spacing: 0.7px;
            width: 110px;
        }
    }
}