@import "_variables.scss";
@import "_mixins.scss";

.hoverContainer {
    transition: all 5s ease;
}

.hoverContainer :hover {
    // .hoverContainer {
    //     border: 1px solid red;
    // }

    .textarea {
        color: $blue;
    }
}

.container {
    @include card;
    overflow: hidden;
    text-decoration: none;
    color: $black-light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 120px;
    padding: 2rem;
    border: none;

    @include tablet {
        padding: 1rem;
        max-height: 80px;
    }
}

// .image {
//     @include tablet {
//         width: 100px;
//         object-fit: contain;
//     }
// }

.textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    @include mobile {
        gap: 0rem;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 2.3rem;
        letter-spacing: 0.7px;
        width: max-content;
        text-transform: uppercase;

        @include tablet {
            font-size: 1rem;
            line-height: 1.8rem;
            letter-spacing: 0.7px;
            width: 110px;
        }
    }
}