@import "_variables.scss";
@import "_mixins.scss";

.container {
    //background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 1rem 2rem;
    gap: 5rem;
}

// .milestone,
// .MuiStepLabel-label,
// .MuiStepLabel-alternativeLabel {
//     color: $white !important;
//     background-color: green;
// }

.milestone {

    .MuiStepLabel-label,
    .mui-5340bo-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
        margin-top: 0.5rem !important
    }
}

.logoLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}