@import "_variables.scss";
@import "_mixins.scss";

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    // background: $background-container-login;
    background-attachment: fixed;
    background-image: url("../../images/landingpageBackground.svg");
    background-size: cover;

    @include mobile {
        flex-direction: column;
        gap: 2rem;
    }
}

.imageContainer {
    width: 45%;

    @include mobile {
        width: 100%;
    }
}